<div id="blurb-section" class="carousel shadow">
    <img class="banner-image carousel-item" src="{{section.settings.banner_image | img_url: '1600x400'}}" />
    <img class="banner-image carousel-item" src="{{section.settings.banner_image2 | img_url: '1600x400'}}" />
    <img class="banner-image carousel-item" src="{{section.settings.banner_image3 | img_url: '1600x400'}}" />
    <div id="information-wrapper">
        <h2 class="card-h2">{{section.settings.banner_header}}</h2>
        <p class="card-p">{{section.settings.banner_text}}</p>
        <button class="card-button">Shop Now</button>
    </div>
</div>

{% schema %}

{
    "name": "Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image One"
      },
      {
        "type": "image_picker",
        "id": "banner_image2",
        "label": "Banner Image Two"
      },
      {
        "type": "image_picker",
        "id": "banner_image3",
        "label": "Banner Image Three"
      },
      {
        "type": "text",
        "id": "banner_header",
        "label": "Banner Header"
      },
      {
        "type": "text",
        "id": "banner_text",
        "label": "Banner text"
      }
    ]
}

{% endschema %}

<script>

 $('#blurb-section').carousel({
      fullWidth: true
    });
  autoplay();
  function autoplay() {
    $('.carousel').carousel('next');
    setTimeout(autoplay, 4500);
  }

</script>